@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

.hs-overlay-basic {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 17rem;
  z-index: 60;
}


/* Default styles for larger screens */

.flex-col-reverse {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 17rem);
  z-index: 50;
}

/* Media query for smaller screens (e.g., smartphones) */

@media (max-width: 768px) {
  /* Reposition the top header to stack above the sidebar */
  .flex-col-reverse {
    top: 0px; /* Adjust top position to avoid overlapping with the sidebar */
    right: 0;
    width: 100%;
  }
}



/* Default styles for larger screens */
.mx-4::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Edge */
}

.mx-4 {
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none; /* Hide scrollbar for IE and Firefox */
  position: relative;
  height: 100vh; /* Adjust height as needed */
  padding-top: 60px; /* Adjust padding to match top header height */
  max-height: calc(100vh - 35px); /* Set max-height to limit content overflow */
}


/* Media query for smaller screens (e.g., smartphones) */

@media (max-width: 768px) {
  /* Remove padding to avoid overlapping with the top header */
  .mx-4 {
    padding-top: 0;
    padding: 8px;
    -ms-overflow-style: none; /* Hide scrollbar for IE and Firefox */
  }
}


/* width */
::-webkit-scrollbar {
  height: 5px; 
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ebeaea;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #EFC586;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb{
  background: #EFC586;
  border-radius: 5px;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.rotate-180 {
  animation: rotate 0.3s linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
/* Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: #fff;
} */


@layer base {
  @font-face {
    font-family: Gilmer Regular;
    src: url('./../src/assets/fonts/Gilmer Regular.otf') format("opentype");
  }
  @font-face {
    font-family: Gilmer-Bold;
    src: url('./../src/assets/fonts/Gilmer Bold.otf') format("opentype");
  }
  @font-face {
    font-family: Gilmer-Medium;
    src: url('./../src/assets/fonts/Gilmer Medium.otf') format("opentype");
  }
  @font-face {
    font-family: Gilmer-Heavy;
    src: url('./../src/assets/fonts/Gilmer Heavy.otf') format("opentype");
  }
  @font-face {
    font-family: Gilmer-Light;
    src: url('./../src/assets/fonts/Gilmer Light.otf') format("opentype");
  }
}